* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
}

form button {
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
}

input[type="search"] {
  padding: 0.5rem 1rem;
}

/* styles.css */

/* Общие стили для всего приложения */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Стили для заголовка (header) */

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header a:hover {
  color: #ffcc00;
}

/* Стили для подвала (footer) */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Дополнительные стили, если нужно */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

li:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
}
